<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/style.css">


</head>

<body class="center image">



<div class = 'border'>
<%=yield%>
</div>











<footer class = 'border'>
    <a href="/"> Restart Game!!!</a><br>    
    <a href="http://www.minedminds.org" target = "_blank"> MinedMinds</a><br>

    <p> Come let us march toward the end of all reason </p>
    <a href="/aboutus" target="_blank">
        <img src="images/nightangel.jpg" width="42" height="42">
    </a> <br>
</footer>


</body>
</html>
