<DOCTYPE! html>
<html>
<head>


</head>


<body>

<h1> TicTacToe <h1>

<h3> Instructions: </h3>

<h4> Easy = Sequential AI </h4>
<h4> TooEasy = Random AI </h4>
<h4> VictoryOrDeath = Unbeatable AI </h4>

<h4> Pick the level of difficulty of your AI opponent </h4>

<%=printboard%>



<!-- <form method="post" action="diff">
     <input type="radio" name="dif" value="Easy" checked>
     <input type="radio" name="dif" value="TooEasy">
     <input type="radio" name="dif" value="VictoryOrDeath">
</form> -->



</body>



</html>
